.username{
  border: thick black solid;
  margin: 24px;
  text-align: center;
  background-color: lightblue;
  font-family: sans-serif;
}

.password{
  border: thick black solid;
  margin: 24px;
  background-color: lightseagreen;
  text-align: center;
  font-family: sans-serif;
}

#submit{
  border: thick black solid;
  text-align: center;
  width: 75px;
  height: 35px;
  font-family: sans-serif;
  background-color: lightpink;
}

#button{
  margin: 5px;
  font-family: sans-serif;
  background-color: lightpink;
}

#sign-in h{
  font-family: sans-serif;
  text-align: center;
}

body{
  background-color: lightgrey;
}

p{
  font-family: sans-serif;
  font-size: 40px;
}